@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i");

body {
  background: #f4f4f4;
  font-family: "Lato";
}
section {
  border-radius: 7px;
}

h3 {
  padding: 10px 15px;
  border-bottom: 1px solid #c7c7c7;
  margin: 0px;
}
h5 {
  font-size: 1.1em;
}

/*---------------------------- form-navigation-------------------------  */
.formNavigation div {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.formNavigation {
  width: 60vw;
  margin: auto;
}
.formNavigation ul {
  padding: 0 40px;
  overflow: hidden;
  counter-reset: step;
  position: relative;
}

.formNavigation ul li {
  list-style-type: none;
  color: #989898;
  font-size: 20px;
  font-weight: 100;
  width: 33%;
  float: left;
  position: relative;
  text-align: center;
}

.line1:before,
.line2:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #bebebe;
  position: absolute;
  left: -50%;
  top: 45px;
  z-index: 0;
}

.formNavigation li:after {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  line-height: 25px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: #bebebe;
  border-radius: 3px;
  margin: 5px auto 5px auto;
  position: relative;
  z-index: 1;
}

li.acitve:after {
  background: #a6cc45;
}
li.acitve:before {
  background: #a6cc45;
}

/*---------------------------- form-wrapper-------------------------  */

.wrapperFrom {
  flex-wrap: wrap;
  width: 60vw;
  margin: auto;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 4fr 3fr;
  grid-template-areas: "area1 area2";
}

.wrapperForm-area1 {
  grid-area: area1;
  width: 100%;
}

.wrapperForm-area2 {
  grid-area: area2;
  height: auto;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
/*---------------------------- cart item-wrapper-------------------------  */

.cartItem-wrapper {
  margin: 15px;
  display: flex;
}

.cartItem-wrapper div {
  padding-right: 15px;
  padding-left: 15px;
}

.cartItem-wrapper div:first-child {
  display: flex;
  align-items: center;
}
.cartItem-wrapper img {
  width: 8vw;
}

.cartItem {
  border: 1px solid #c7c7c7;
  background: white;
  margin-top: 20px;
}
.summeryItemsAccount,
.deliveryItems,
.summeryItems {
  margin-top: 20px;
  border: 1px solid #c7c7c7;
  background: white;
}

.summeryItems div:nth-child(4) {
  color: #a6cc45;
  font-weight: bolder;
}

.info-item h5 {
  text-align: center;
}

.cartItem-wrapper input {
  width: 30px;
}

h5 {
  margin: 0;
}
.summeryItems h5 {
  font-weight: 100;
}
.deliveryItem,
.summeryItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c7c7c7;
  background: white;
  width: 90%;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 5px;
}

.summeryItem {
  border: none;
  padding: 0px;
}

.summeryItem h5:nth-child(2) {
  font-weight: bold;
}

/*-------------------------------- form -----------------------------  */

.registerForm {
  border: 1px solid #c7c7c7;
  background: white;
  margin-top: 20px;
}
.registerForm h1,
.registerForm h2,
.registerForm p {
  text-align: center;
}
.registerForm h5 {
  font-weight: 100;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: -11px;
}
.registerForm span {
  background-color: white;
  padding: 15px;
}
.registerForm h2 {
  height: 7vh;
}
.FB-button {
  background: #0073d1;
  color: white;
  width: 90%;
  margin: auto;
  height: 7vh;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
  display: flex;
  align-items: center;
}

.FB-button img {
  height: 100%;
  display: inline-block;
  margin: 0px 0px;
  background: #005fae;
}
.FB-button h4 {
  margin: auto;
  display: inline-block;
  width: 50%;
  padding: 0px 20px;
}
.registerForm h2:nth-child(2) span {
  padding: 0px;
}

.registerForm h2:nth-child(5) {
  border-top: 1px solid #c7c7c7;
  padding-top: 30px;
  margin-top: 0;
  width: 90%;
  margin: auto;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2% 10%;
}

input,
label {
  margin-top: 30px;
}
input {
  width: 60%;
}

label {
  text-align: end;
  width: 30%;
}

/*-------------------------------- payment -----------------------------  */

.paymentForm {
  border: 1px solid #c7c7c7;
  background: white;
  margin: 20px auto;
}
.payment-details-wrapper {
  display: grid;
  width: 90%;
  margin: 20px auto;
  grid-column-gap: 10vw;
}
.payment-details-wrapper div:first-child {
  height: 10vh;
  grid-column: 1 / 3;
  grid-row: 1/2;
  display: grid;
  grid-column-gap: 30px;
  align-items: center;
  margin-bottom: 20px;

  /* justify-items: center; */
}
.payment-details-wrapper div:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2/3;
  color: blue;
  display: grid;
  height: 10vh;
  align-items: center;
}
.payment-details-wrapper div:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2/3;
  display: grid;
  align-items: center;
}

.payment-details-wrapper div:first-child label:first-child {
  width: 100%;
  grid-column: 1/5;
  grid-row: 1/2;
  align-self: center;
  text-align: left;
  margin: 0;
}

.payment-details-wrapper div:first-child input {
  width: 90%;
  margin: 0;
}
.payment-details-wrapper div:first-child input:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.payment-details-wrapper div:first-child input:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.payment-details-wrapper div:first-child input:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
}
.payment-details-wrapper div:first-child input:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
}

.payment-details-wrapper div:nth-child(2) label:first-child,
.payment-details-wrapper div:nth-child(3) label:first-child {
  grid-column: 1/3;
  grid-row: 1/1;
  width: 100%;
  align-self: center;
  text-align: left;
  margin: 0;
}
.payment-details-wrapper div:nth-child(2) input,
.payment-details-wrapper div:nth-child(3) input {
  width: 90%;
  margin: 0;
}
.payment-details-wrapper div:nth-child(2) input:nth-child(2),
.payment-details-wrapper div:nth-child(3) input:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.payment-details-wrapper div:nth-child(2) input:nth-child(3),
.payment-details-wrapper div:nth-child(3) input:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.step-3 img {
  width: 30px;
  display: block;
}
.step-3 div {
  padding: 0px;
  height: auto;
}
.paymentMetod {
  border: 1px solid #c7c7c7;
  background: white;
  margin: 20px auto;
}
.paymentMetod li div {
  border: 1px solid #c7c7c7;
  border-radius: 5px;

  width: 8vw;
  height: 8vw;
  align-items: center;
  display: flex;
}

.paymentMetod div img {
  width: 60%;

  margin: auto;
}

.paymentMetod li {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
}

.paymentMetod ul {
  padding: 0;
  text-align: center;
}

/*-------------------------------- buttons -----------------------------  */

.buttons {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  /* grid-area: area3; */
}

button {
  border-radius: 5px;
  background-color: #a6cc45;
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.back {
  background: #b9bab7;
}
/*----------------------------------------------- MOBILE ------------------------------------------ */

@media only screen and (max-width: 900px) {
  .formNavigation {
    width: 90vw;
  }
  .wrapperFrom {
    flex-wrap: wrap;
    width: 95vw;
    margin: auto;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr;
    grid-template-areas: "area1" "area2" "area3";
  }
  .buttons {
    grid-area: area3;
  }

  .wrapperForm-area1 {
    flex-direction: row;
  }
}
